@media screen and (max-width: 780px){
    .navbar{
        display: none;  
        padding: 22px 12px;
    }

    .mobile-only {
        display: block
    }

    .service-listItems li{
        line-height: 1.5;
    }
    #about{
        padding-top: 9vh !important;
    }

    hr{
        margin-top:0;
    }

    .values-vision{
        margin-top: 2vh !important;
    }

    .landing-text{
        font-size: 24px;
        width: 300px;
    }

    .scroll-bottom span{
        font-size: 14px;
        left: -15px;
      }

      .scroll-bottom{
          left: 0;
      }

      .map{
          display: none;
      }
    

    .desc{
        font-size: 15px;
        line-height: 35px;
    }

    .sub-text{
        font-size: 16px;
    }

    .bulb img{
        width: 140px;
    }

    .bulb{
        right: 0;
    }

    .contact-us{
        position: static;
        width: 100%;
        padding: 40px;
    }

    .contact-us h1{
        font-size: 24px;
        text-align: left !important;
    }

    input[type="checkbox"] + label {
        width: calc(95%/2);
        padding: 2% 0;
        margin-bottom: 3%;
      }

      .contact-us-details{
          height: 350px;
          padding: 30px;
          position: static;
      }

      .scroll-top{
        background: rgba(255,255,255,0.05);
        position: relative;
        top: 42px;
        z-index: 1;
        opacity: 0;
        visibility: hidden
      }

      .vision-flex{
          flex-wrap: wrap;
      }

      .footer-content{
          flex-wrap: wrap;
      }

      .map{
        height: 395px;
        overflow: hidden;
      }

      .mobile-services{
          display: block
      }

      .desktop-services{
          display: none;
      }

      .service-listItems {
        padding: 5px 10px;
    }

    .title{
        font-size: 50px;
    }

    .details-bg {
        height: 80%;
        width: 70%;
        top: 54%;
        left: 55%;
    }

    .value, .vision{
        padding-bottom: 3vh;
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px){
    .desc{
        font-size: 18px;
    }

    .icon +td {
        font-size: 18px;
    }

    .icon{
        width: 75px;
    }

    .navbar{
        padding: 22px 12px;
    }

    .service-listItems {
        padding: 30px 10px;
    }

    input[type="checkbox"] + label {
        width: calc(95%/2);
        padding: 2% 0;
        margin-bottom: 3%;
      }

      .bulb img{
        width: 300px;
    }

    .bulb{
        right: 0;
    }


      .mobile-services{
        display: block
    }

    .desktop-services{
        display: none;
    }

    .mobile-only {
        display: block
    }
}