.main-logo img{
width: 100%
}

.gap{
    margin-top: 60px;
}

.about{
font-style: normal;
}

body{
    font-family: Nunito;
}

.why-iderize{
    margin-top: 78px;
}

.desc{
    height: 278px;	
    color: #212121;	
    font-size: 24px;	
    font-weight: 300;	
    line-height: 36px;
}

.bulb{
    position: relative;
}

.bulb img{
    width: 350px;
    position: absolute;
    right: 0;
    top: -115px;
}

.value, .vision{
    height: 445px;
}

.vision{
    background-color: #F8EBE1;
}

.value{
    background-color: #F8F3EF;
}