.main-logo img{
width: 100%
}

.gap{
    margin-top: 60px;
}

.about{
font-style: normal;
}

.about h1{
font-weight: bold;
}

body{
    font-family: Nunito;
}

.why-iderize{
    margin-top: 78px;
}

.why-iderize h2{
    font-weight: bold;
}

.desc{
    color: #212121;	
    font-size: 24px;	
    font-weight: 300;	
    line-height: 40px;
}

.bulb{
    position: relative;
}

.bulb img{
    width: 350px;
    position: absolute;
    right: 0;
    top: -115px;
}

.value, .vision{
    height: 445px;
}

.vision{
    background-color: #F8EBE1;
}

.value{
    background-color: #F8F3EF;
}

.details{
    padding: 20px;
    margin-bottom: 100px;
    background-color: white;
    box-shadow: 10px 10px 0 0 rgba(70,70,79,0.05);
    position: relative;
    right: 2px;
}

.zero-padding{
    padding-left: 0;
    padding-right: 0; 
}

.serviceItem{
    color: #212121;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    height: 120px;
    line-height: 145px;
    list-style: none;
    cursor: pointer;
}
.serviceItem.active{
    background-color: white;
    box-shadow: 10px 10px 0 0 rgba(70,70,79,0.05);
}
.service-listItems{
    padding: 50px;
}

.service-listItems li{
    padding: 5px;
    list-style: none;
}

.icon{
    width: 85px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-left: 70px solid transparent;
    filter: grayscale(1);
}

.contact-us{
    position: absolute;
    top: 50px;
    left: 8.33%;
    background-color: #191717;
    min-height: 785px;
    width: 41.6%;
    padding: 60px;
}

.contact-us form input{
    background: #191717;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 50px;
    padding: 0;
    font-size: 20px;
    margin-bottom: 30px;
    outline: none;
}

.control-label{
    color: white;
    font-weight: 300;
}

.control-label:after{
    content: ' *';
    color: #FD853A;
}

.serviceItem.active .icon{
    filter: none;
}

.icon +td{
    padding-left: 25px;
}

.service-listItems li.desc:before {
    content: attr(data-count);
    padding-right: 15px;
    color: #FD853A;
}

input[type="checkbox"]{
    display: none;
  }
  
  input[type="checkbox"] + label {
    display: inline-block;
    width: 31%;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 1% 0;
    margin-bottom: 2%;
    margin-right: 1.8%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }

  input[type="checkbox"]:checked + label {
    border: 2px solid #00C1FF;
  }

  .send-button{
      width: 60px;
      height: 60px;
      background: linear-gradient(270deg, #008BFF 0%, #00E5F5 100%);
      float: right;
      color: white;
  }

  .send-button i{
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    display: block;
    height: 60px;
    line-height: 60px;
    position: relative;
    left: -3px;
  }

  .map{
      height: 800px ;
      width: 100%;
  }

  .contact-us-details{
      color: white;
      margin-top: 70px;
      margin-bottom: 45px;
  }

  .contact-us-details h1{
      font-weight: bolder;
  }

  .contact-details table td{
      padding: 10px 15px 10px 0;
      font-size: 18px;
  }

  td .fab{
      padding: 0 7px
  }

  .contact-details table tr td:first-child{
font-weight: bold;
  }

  .contact-section{
    background: linear-gradient(133.19deg, #212121 0%, #191919 100%);
  }